@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Initial state: Off-screen */
.offscreen {
    right: -100%; /* Adjust this value based on your needs */
    opacity: 0;
    transition: right 1s ease-in-out, opacity 11s ease-in-out;
  }
  
  /* Final state: On-screen */
  .onscreen {
    right: auto; /* Adjust this value based on your needs */
    opacity: 1;
  }
  
  @font-face {
    font-family: 'Gagalin';
    src: url('./assets/fonts/Gagalin-Regular.woff2') format('woff2'),
         url('./assets/fonts/Gagalin-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  